body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    /* Эти переменные (--tg-theme-*) автоматически подставляет клиент Telegram */
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

.container {
    text-align: center;
    padding: 20px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 12px;
}

p {
    font-size: 18px;
    line-height: 1.5; /* Улучшим читаемость */
}

span {
    font-weight: bold;
    color: var(--tg-theme-link-color);
}